.media-slider {
  $this: &;
  position: relative;

  &__btn {
    width: rem(86);
    height: rem(86);
    color: var(--pallette-cod-gray);

    @include media('600', max) {
      display: none;
    }

    &::before,
    &::after {
      content: none;
    }

    &--prev {
      left: rem(-80);
    }

    &--next {
      right: rem(-80);
    }

    &-icon {
      width: rem(45);
      height: rem(45);
      stroke: currentColor;
    }
  }

  .swiper-scrollbar {
    left: 0;
    bottom: rem(-26);
    width: 100%;
    border-radius: 0;
    background: var(--pallette-cod-gray-with-alpha);
    height: rem(5);

    &-drag {
      background-color: var(--pallette-cod-gray);
      border-radius: 0;
    }

    @include media('600', max) {
      display: none;
    }
  }
}
