<div class="media-slider">
  <div class="swiper media-slider__inner">
    <div class="swiper-wrapper">
      {% for item in media_slider.items %}
        <div class="swiper-slide">
          {% view "^price_card" with {
            price_card: item
          } %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-scrollbar media-slider__scrollbar"></div>
  {% view "@button" with {
    button: {
      class: "swiper-button-prev media-slider__btn media-slider__btn--prev",
      icon: {
        class: "media-slider__btn-icon",
        name: "sprite-multi.svg#arrow-prev"
      },
      attrs: 'aria-label="Назад"'
    }
  } %}
  {% view "@button" with {
    button: {
      class: "swiper-button-next media-slider__btn media-slider__btn--next",
      icon: {
        class: "media-slider__btn-icon",
        name: "sprite-multi.svg#arrow-next"
      },
      attrs: 'aria-label="Вперед"'
    }
  } %}
</div>