<section class="categories">
  {% view "@title" with {
    title: categories.title
  } %}

  <div class="container">
    <div class="categories__inner">
      {% for item in categories.items %}
        {% view "^card_text" with {
          card_text: item
        } %}
      {% endfor %}
    </div>
  </div>
</section>