<nav
  class="meta-nav {{ meta_nav.class }}"
  aria-label="Мета"
>
  <ul class="meta-nav__list">
    {% for item in meta_nav.list.items %}
      <li class="meta-nav__item">
        {% view "@button" with {
          button: item.button
        } %}

        {% if item.button.basket %}
          {% view "^drawer" %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>