.meta-nav {
  $this: &;

  @include media('900', max) {
    display: none;
  }

  &__list {
    display: flex;
    gap: rem(100);
  }

  &__btn {
    display: flex;

    &:hover {
      #{$this}__btn-icon {
        stroke: var(--pallette-atlantis);
      }
    }

    &-icon {
      width: rem(30);
      height: rem(30);
      fill: transparent;
      stroke: currentColor;
    }
  }
}
