.meta-nav {
  $this: &;

  @include media('600', max) {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16) rem(100);

    @include media('900', max) {
      gap: rem(16) rem(60);
    }
  }

  &__item {
    position: relative;
  }

  &__btn {
    display: flex;
    color: var(--pallette-cod-gray);

    &-icon {
      width: rem(30);
      height: rem(30);
    }

    &-num {
      @include flex-center;
      font-size: rem(20);
      position: absolute;
      top: rem(-20);
      right: rem(-32);
      min-height: rem(36);
      min-width: rem(36);
      background-color: var(--pallette-atlantis);
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }
  }
}
