<header class="main-header">
  <div class="container">
    <div class="main-header__inner">
      {% view "@burger" %}

      {% view "@logo" with {
        logo: header.logo
      } %}

      {% view "^meta_nav" with {
        meta_nav: header.meta_nav
      } %}
    </div>
  </div>

  {% view "^search" %}

  {% view "^menu" %}
</header>