.drawer-help {
  $this: &;

  --size: 33%;
  --body-spacing: #{rem(32)} #{rem(50)} #{rem(10)};
  --sl-overlay-background-color: rgba(0, 0, 0, 0.5);

  @include media('1024', max) {
    --size: 100%;
  }

  &__close {
    display: flex;
    margin-left: auto;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: rem(20);
  }

  &__text {
    margin-bottom: rem(10);
  }
}
