<div class="details">
  {% for item in details.items %}
    <sl-details
      class="details__item"
      {% if item.summary %}summary="{{ item.summary }}"{% endif %}
      {{ item.attrs }}
    >
      {% view "@icon" with {
        icon: item.expand_icon
      } %}

      {% view "@icon" with {
        icon: item.collapse_icon
      } %}

      {% if item.data.type == '@list' %}
        {% view "@list" with {
          list: item.data.content
        } %}
      {% elseif item.data.type == '@button' %}
        {% view "@button" with {
          button: item.data.content
        } %}
      {% endif %}
    </sl-details>
  {% endfor %}
</div>