.details {
  max-width: rem(750);

  &__icon {
    width: rem(8);
    height: rem(8);
    stroke: var(--pallette-white);
  }

  &__item {
    &::part(base) {
      background-color: var(--pallette-black);
      border-radius: 0;
      border: none;
      border-bottom: rem(1) solid var(--pallette-white);
    }

    &::part(summary-icon) {
      rotate: none;
    }

    &::part(header) {
      --sl-spacing-medium: #{rem(20)};

      &:focus-visible {
        outline: rem(2) dotted var(--pallette-atlantis);
        outline-offset: rem(2);
      }
    }

    &::part(summary) {
      color: var(--pallette-white);
      text-transform: uppercase;
    }

    &::part(content) {
      --sl-spacing-medium: #{rem(21)} #{rem(21)} #{rem(21)} #{rem(39)};
      color: var(--pallette-white);
    }

    &[open] {
      &::part(base) {
        border-bottom: none;
      }
    }
  }
}
