<a
  href="/"
  class="logo {{ logo.class }}"
  {{ logo.attrs }}
>
  {% if logo.type == 'header' %}
    {% view "@icon" with {
      icon: {
        svg_as_code: '
          <svg class="main-header__logo-img" viewBox="0 0 403 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M95.8681 15.4931C99.3435 14.3351 101.519 11.5609 101.519 7.87865C101.519 3.38832 97.6933 0.364224 91.9761 0.364224H81.625V27.3812H85.3087V16.0512H92.2594L98.2601 27.3812H102.369L95.8681 15.4931ZM92.2178 13.2104H85.3087V3.32168H92.1844C95.5181 3.32168 97.7267 5.25443 97.7267 8.1619C97.7267 11.211 95.5181 13.2104 92.2178 13.2104ZM162.508 24.4404V27.3895H144.19V0.372555H162.092V3.32168H147.882V11.9858H160.833V14.9682H147.882V24.4404H162.508ZM215.472 0.372555H211.297L201.187 27.3895H204.946L207.33 20.7248H219.264L221.614 27.3895H225.582L215.472 0.372555ZM208.38 17.7424L213.255 4.05479H213.322L218.164 17.7341L208.38 17.7424ZM330.484 0.0226589C322.833 0.0226589 317.674 5.56268 317.674 13.8769C317.674 22.1911 322.833 27.7311 330.484 27.7311C338.168 27.7311 343.294 22.1911 343.294 13.8769C343.294 5.56268 338.168 0.0226589 330.484 0.0226589ZM330.484 24.6903C325.075 24.6903 321.466 20.3749 321.466 13.8852C321.466 7.39546 325.075 3.08008 330.484 3.08008C335.926 3.08008 339.543 7.39546 339.543 13.8852C339.543 20.3749 335.918 24.682 330.484 24.6903ZM400.25 0.372555V27.3895H396.741L383.298 6.19582H383.231L383.34 27.3895H379.797V0.372555H383.34L396.783 21.5996H396.849L396.783 0.372555H400.25ZM28.6862 0.372555V27.3895H25.0025L25.1108 4.79624H25.0442L16.0932 27.3895H13.0012L4.47536 4.78791H4.40869L4.47536 27.3812H1V0.372555H6.12553L14.6181 23.0408H14.7264L23.569 0.380886L28.6862 0.372555ZM51.6302 25.5317C51.6302 24.2321 52.5387 23.3574 53.9138 23.3574C55.3139 23.3574 56.1974 24.2321 56.1974 25.5317C56.1974 26.8647 55.3223 27.7394 53.9138 27.7394C52.547 27.7311 51.6302 26.8563 51.6302 25.5317ZM263.219 7.08722C263.544 2.43027 267.719 -0.368891 273.595 0.0393206C277.995 0.347562 281.229 2.7885 282.371 6.43742L278.862 7.21218C278.145 4.84622 276.103 3.28002 273.245 3.08008C269.636 2.83016 267.136 4.44634 266.944 7.10388C266.727 10.2196 269.969 11.111 273.57 11.9274C278.104 12.9855 283.246 14.4017 282.837 20.2416C282.496 25.1402 278.029 28.131 271.653 27.6894C266.902 27.3562 263.394 24.7653 262.185 20.9164L265.769 20.2916C266.611 22.7742 268.836 24.4321 271.936 24.6487C275.995 24.9319 278.862 23.1991 279.062 20.2916C279.32 16.6177 275.762 15.7013 272.02 14.8099C267.678 13.7936 262.844 12.4356 263.219 7.08722Z" fill="black"/>
          </svg>
          '
      }
    } %}
  {% elseif logo.type == 'footer' %}
    {% view "@icon" with {
      icon: {
        svg_as_code:
          '
          <svg class="main-footer__logo-img" viewBox="0 0 612 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M145.424 24.5732C150.75 22.7404 154.085 18.3419 154.085 12.4994C154.085 5.37669 148.221 0.586742 139.452 0.586742H123.583V43.4332H129.233V25.4594H139.884L149.083 43.4332H155.377L145.424 24.5732ZM139.829 20.9574H129.233V5.26542H139.777C144.888 5.26542 148.276 8.32607 148.276 12.9445C148.274 17.7855 144.886 20.9574 139.829 20.9574ZM247.571 38.7689V43.4436H219.486V0.597225H246.921V5.27197H225.135V19.0174H244.985V23.7471H225.135V38.7689H247.571ZM328.756 0.597225H322.354L306.86 43.4436H312.616L316.275 32.8715H334.565L338.17 43.4436H344.245L328.756 0.597225ZM317.889 28.1417L325.363 6.43444H325.47L332.894 28.1365L317.889 28.1417ZM505.053 0.0408629C493.325 0.0408629 485.418 8.8327 485.418 22.0204C485.418 35.2082 493.325 44 505.053 44C516.835 44 524.689 35.2082 524.689 22.0204C524.689 8.8327 516.831 0.0343111 505.049 0.0343111L505.053 0.0408629ZM505.053 39.159C496.768 39.159 491.227 32.3151 491.227 22.0204C491.227 11.7258 496.768 4.88187 505.053 4.88187C513.392 4.88187 518.933 11.7271 518.933 22.0204C518.933 32.3138 513.388 39.1525 505.049 39.1525L505.053 39.159ZM612 0.597225V43.4436H606.62L586.016 9.83414H585.909L586.069 43.4436H580.636V0.597225H586.069L606.674 34.2617H606.782L606.674 0.597225H612ZM42.4447 0.597225V43.4436H36.7962L36.9569 7.60869H36.8506L23.1322 43.4436H18.3974L5.32584 7.60215H5.21826L5.32584 43.4371H0V0.590673H7.85713L20.8705 36.5434H21.0313L34.5876 0.597225H42.4447ZM77.6133 40.4943C77.6133 38.4351 79.0055 37.0448 81.1103 37.0448C83.2619 37.0448 84.6072 38.4351 84.6072 40.4943C84.6072 42.6085 83.2619 44 81.1103 44C79.0093 43.9935 77.6107 42.6019 77.6107 40.4877L77.6133 40.4943ZM401.951 11.2401C402.449 3.85684 408.845 -0.588818 417.86 0.0631071C424.602 0.550088 429.565 4.4263 431.309 10.2098L425.928 11.4325C424.831 7.68463 421.696 5.19342 417.322 4.87662C411.794 4.4839 407.956 7.04448 407.668 11.2624C407.333 16.2029 412.307 17.6219 417.829 18.914C424.78 20.5883 432.664 22.8321 432.038 32.1017C431.512 39.8725 424.665 44.6205 414.898 43.9149C407.616 43.3913 402.242 39.2755 400.388 33.1712L405.883 32.1803C407.17 36.1219 410.59 38.7506 415.332 39.0935C421.557 39.5439 425.95 36.7935 426.261 32.1855C426.655 26.3574 421.199 24.903 415.47 23.4853C408.779 21.8817 401.374 19.7256 401.948 11.2336L401.951 11.2401Z" fill="white"/>
          </svg>
          '
      }
    } %}
  {% endif %}
</a>