<a
  href="/"
  class="logo {{ logo.class }}"
  {{ logo.attrs }}
>
  {% if logo.type == 'header' %}
    {% view "@icon" with {
      icon: {
        svg_as_code: '
          <svg class="main-header__logo-img" viewBox="0 0 403 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M95.8681 15.4931C99.3435 14.3351 101.519 11.5609 101.519 7.87865C101.519 3.38832 97.6933 0.364224 91.9761 0.364224H81.625V27.3812H85.3087V16.0512H92.2594L98.2601 27.3812H102.369L95.8681 15.4931ZM92.2178 13.2104H85.3087V3.32168H92.1844C95.5181 3.32168 97.7267 5.25443 97.7267 8.1619C97.7267 11.211 95.5181 13.2104 92.2178 13.2104ZM162.508 24.4404V27.3895H144.19V0.372555H162.092V3.32168H147.882V11.9858H160.833V14.9682H147.882V24.4404H162.508ZM215.472 0.372555H211.297L201.187 27.3895H204.946L207.33 20.7248H219.264L221.614 27.3895H225.582L215.472 0.372555ZM208.38 17.7424L213.255 4.05479H213.322L218.164 17.7341L208.38 17.7424ZM330.484 0.0226589C322.833 0.0226589 317.674 5.56268 317.674 13.8769C317.674 22.1911 322.833 27.7311 330.484 27.7311C338.168 27.7311 343.294 22.1911 343.294 13.8769C343.294 5.56268 338.168 0.0226589 330.484 0.0226589ZM330.484 24.6903C325.075 24.6903 321.466 20.3749 321.466 13.8852C321.466 7.39546 325.075 3.08008 330.484 3.08008C335.926 3.08008 339.543 7.39546 339.543 13.8852C339.543 20.3749 335.918 24.682 330.484 24.6903ZM400.25 0.372555V27.3895H396.741L383.298 6.19582H383.231L383.34 27.3895H379.797V0.372555H383.34L396.783 21.5996H396.849L396.783 0.372555H400.25ZM28.6862 0.372555V27.3895H25.0025L25.1108 4.79624H25.0442L16.0932 27.3895H13.0012L4.47536 4.78791H4.40869L4.47536 27.3812H1V0.372555H6.12553L14.6181 23.0408H14.7264L23.569 0.380886L28.6862 0.372555ZM51.6302 25.5317C51.6302 24.2321 52.5387 23.3574 53.9138 23.3574C55.3139 23.3574 56.1974 24.2321 56.1974 25.5317C56.1974 26.8647 55.3223 27.7394 53.9138 27.7394C52.547 27.7311 51.6302 26.8563 51.6302 25.5317ZM263.219 7.08722C263.544 2.43027 267.719 -0.368891 273.595 0.0393206C277.995 0.347562 281.229 2.7885 282.371 6.43742L278.862 7.21218C278.145 4.84622 276.103 3.28002 273.245 3.08008C269.636 2.83016 267.136 4.44634 266.944 7.10388C266.727 10.2196 269.969 11.111 273.57 11.9274C278.104 12.9855 283.246 14.4017 282.837 20.2416C282.496 25.1402 278.029 28.131 271.653 27.6894C266.902 27.3562 263.394 24.7653 262.185 20.9164L265.769 20.2916C266.611 22.7742 268.836 24.4321 271.936 24.6487C275.995 24.9319 278.862 23.1991 279.062 20.2916C279.32 16.6177 275.762 15.7013 272.02 14.8099C267.678 13.7936 262.844 12.4356 263.219 7.08722Z" fill="black"/>
          </svg>
          '
      }
    } %}
  {% elseif logo.type == 'footer' %}
    {% view "@icon" with {
      icon: {
        svg_as_code: '<svg class="main-footer__logo-img" viewBox="0 0 611 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.89" fill-rule="evenodd" clip-rule="evenodd" d="M478.556 20.3666C478.556 8.14185 486.254 0 497.782 0C509.31 0 517.008 8.14185 517.008 20.3666C517.008 32.5914 509.31 40.7333 497.782 40.7333C486.254 40.7333 478.556 32.5914 478.556 20.3666ZM509.766 20.3666C509.766 11.6003 504.975 5.72812 497.782 5.72812C490.589 5.72812 485.845 11.6003 485.845 20.3666C485.845 29.1329 490.589 35.0052 497.782 35.0052C504.975 35.0052 509.766 29.1329 509.766 20.3666ZM392.202 26.9714H385.165L385.153 26.9954C385.766 35.2453 392.19 40.7573 401.221 40.7573C410.852 40.7573 417.228 35.7016 417.228 28.1722C417.228 19.514 409.375 17.9169 402.746 16.8841C397.75 16.1036 393.415 15.2269 393.415 11.3121C393.415 7.96171 396.165 5.74012 400.908 5.74012C405.652 5.74012 408.918 8.73026 409.122 13.1614H416.111C415.547 5.27178 409.579 0.0120086 401.221 0.0120086C392.25 0.0120086 386.282 4.75541 386.282 11.8165C386.282 20.0664 393.727 21.5555 400.152 22.5402C405.352 23.3688 410.095 24.2454 410.095 28.8807C410.095 32.5434 406.577 35.0171 401.377 35.0171C396.177 35.0171 392.502 31.7628 392.202 26.9714ZM41.766 40.2165V0.515926H32.1231L20.7149 31.8104H20.5588L9.64293 0.515926H0V40.2165H6.68881L6.48466 9.01804H6.58073L17.5926 40.2165H23.1526L34.825 9.01804H34.9331L34.729 40.2165H41.766ZM73.2875 32.6394C70.7904 32.6394 69.1096 34.2842 69.1096 36.6613C69.1096 39.0864 70.7904 40.7311 73.2875 40.7311C75.7847 40.7311 77.4174 39.0383 77.4174 36.6613C77.4174 34.2842 75.7847 32.6394 73.2875 32.6394ZM121.816 24.0773H113.302V40.2169H106.264V0.516371H121.816C130.534 0.516371 136.394 5.05564 136.394 11.8045C136.394 17.0643 133.44 21.0391 128.54 22.8885L137.823 40.2169H129.97L121.816 24.0773ZM113.302 18.8175H122.176C126.355 18.8175 129.165 16.2357 129.165 12.3209C129.165 8.61019 126.355 6.07637 122.176 6.07637H113.302V18.8175ZM228.044 40.2169V34.6449H207.185V22.6363H225.594V17.0643H207.185V6.08838H227.432V0.516371H200.148V40.2169H228.044ZM314.699 31.0904H298.631L295.521 40.2169H288.436L302.978 0.516371H310.832L325.314 40.2169H317.821L314.711 31.0904H314.699ZM312.813 25.5184L306.749 7.73356H306.641L300.576 25.5184H312.813ZM611 40.2169V0.516371H610.988H604.311L604.468 29.181H604.371L586.419 0.516371H579.742V40.2169H586.419L586.262 11.6484H586.371L604.371 40.2169H611Z" fill="white"/>
          </svg>
          '
      }
    } %}
  {% endif %}
</a>