<a
  href="/"
  class="logo {{ logo.class }}"
  {{ logo.attrs }}
>
  {% if logo.type == 'header' %}
    {% view "@icon" with {
      icon: {
        svg_as_code: '<svg class="main-header__logo-img" viewBox="0 0 405 29" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
          <g clip-path="url(#clip0_3160_804)">
          <path d="M96.2364 16.2C99.7608 14.992 101.968 12.093 101.968 8.24222C101.968 3.54766 98.0874 0.390625 92.2839 0.390625H81.7826V28.6305H85.5215V16.7841H92.5704L98.6578 28.6305H102.823L96.2364 16.2ZM92.5335 13.8169H85.5215V3.47432H92.4992C95.8812 3.47432 98.1234 5.49158 98.1234 8.53558C98.1225 11.7263 95.8804 13.8169 92.5335 13.8169ZM163.833 25.5563V28.6374H145.248V0.397534H163.404V3.47864H148.986V12.5382H162.122V15.6555H148.986V25.5563H163.833ZM217.558 0.397534H213.322L203.069 28.6374H206.878L209.299 21.6693H221.403L223.788 28.6374H227.809L217.558 0.397534ZM210.367 18.552L215.313 4.24481H215.384L220.297 18.5485L210.367 18.552ZM334.225 0.0308388C326.465 0.0308388 321.232 5.82549 321.232 14.5175C321.232 23.2094 326.465 29.0041 334.225 29.0041C342.022 29.0041 347.22 23.2094 347.22 14.5175C347.22 5.82549 342.02 0.0265205 334.223 0.0265205L334.225 0.0308388ZM334.225 25.8134C328.743 25.8134 325.076 21.3026 325.076 14.5175C325.076 7.73231 328.743 3.22152 334.225 3.22152C339.744 3.22152 343.411 7.73317 343.411 14.5175C343.411 21.3018 339.742 25.8091 334.223 25.8091L334.225 25.8134ZM404.999 0.397534V28.6374H401.439L387.804 6.48554H387.733L387.839 28.6374H384.244V0.397534H387.839L401.475 22.5856H401.546L401.475 0.397534H404.999ZM28.0884 0.397534V28.6374H24.3503L24.4567 5.01875H24.3864L15.3081 28.6374H12.1748L3.52444 5.01445H3.45325L3.52444 28.6331H0V0.393216H5.19956L13.8113 24.0895H13.9177L22.8888 0.397534H28.0884ZM51.3616 26.6935C51.3616 25.3363 52.2829 24.42 53.6758 24.42C55.0997 24.42 55.99 25.3363 55.99 26.6935C55.99 28.0869 55.0997 29.0041 53.6758 29.0041C52.2855 28.9998 51.3599 28.0826 51.3599 26.6892L51.3616 26.6935ZM265.996 7.4122C266.326 2.54593 270.558 -0.384181 276.524 0.0454999C280.986 0.366466 284.27 2.92126 285.424 6.73316L281.864 7.53904C281.138 5.0688 279.063 3.42686 276.168 3.21806C272.51 2.95922 269.97 4.64688 269.779 7.42687C269.558 10.6831 272.85 11.6184 276.504 12.47C281.104 13.5735 286.321 15.0524 285.907 21.162C285.559 26.2836 281.028 29.4131 274.564 28.948C269.745 28.6029 266.189 25.8902 264.962 21.8669L268.598 21.2138C269.45 23.8117 271.713 25.5442 274.852 25.7703C278.971 26.0671 281.878 24.2543 282.084 21.2172C282.345 17.376 278.734 16.4174 274.943 15.4829C270.515 14.426 265.614 13.005 265.995 7.40789L265.996 7.4122Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_3160_804">
          <rect width="405" height="29" fill="white"/>
          </clipPath>
          </defs>
          </svg>
          '
      }
    } %}
  {% elseif logo.type == 'footer' %}
    {% view "@icon" with {
      icon: {
        svg_as_code: '<svg class="main-footer__logo-img" viewBox="0 0 611 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.89" fill-rule="evenodd" clip-rule="evenodd" d="M478.556 20.3666C478.556 8.14185 486.254 0 497.782 0C509.31 0 517.008 8.14185 517.008 20.3666C517.008 32.5914 509.31 40.7333 497.782 40.7333C486.254 40.7333 478.556 32.5914 478.556 20.3666ZM509.766 20.3666C509.766 11.6003 504.975 5.72812 497.782 5.72812C490.589 5.72812 485.845 11.6003 485.845 20.3666C485.845 29.1329 490.589 35.0052 497.782 35.0052C504.975 35.0052 509.766 29.1329 509.766 20.3666ZM392.202 26.9714H385.165L385.153 26.9954C385.766 35.2453 392.19 40.7573 401.221 40.7573C410.852 40.7573 417.228 35.7016 417.228 28.1722C417.228 19.514 409.375 17.9169 402.746 16.8841C397.75 16.1036 393.415 15.2269 393.415 11.3121C393.415 7.96171 396.165 5.74012 400.908 5.74012C405.652 5.74012 408.918 8.73026 409.122 13.1614H416.111C415.547 5.27178 409.579 0.0120086 401.221 0.0120086C392.25 0.0120086 386.282 4.75541 386.282 11.8165C386.282 20.0664 393.727 21.5555 400.152 22.5402C405.352 23.3688 410.095 24.2454 410.095 28.8807C410.095 32.5434 406.577 35.0171 401.377 35.0171C396.177 35.0171 392.502 31.7628 392.202 26.9714ZM41.766 40.2165V0.515926H32.1231L20.7149 31.8104H20.5588L9.64293 0.515926H0V40.2165H6.68881L6.48466 9.01804H6.58073L17.5926 40.2165H23.1526L34.825 9.01804H34.9331L34.729 40.2165H41.766ZM73.2875 32.6394C70.7904 32.6394 69.1096 34.2842 69.1096 36.6613C69.1096 39.0864 70.7904 40.7311 73.2875 40.7311C75.7847 40.7311 77.4174 39.0383 77.4174 36.6613C77.4174 34.2842 75.7847 32.6394 73.2875 32.6394ZM121.816 24.0773H113.302V40.2169H106.264V0.516371H121.816C130.534 0.516371 136.394 5.05564 136.394 11.8045C136.394 17.0643 133.44 21.0391 128.54 22.8885L137.823 40.2169H129.97L121.816 24.0773ZM113.302 18.8175H122.176C126.355 18.8175 129.165 16.2357 129.165 12.3209C129.165 8.61019 126.355 6.07637 122.176 6.07637H113.302V18.8175ZM228.044 40.2169V34.6449H207.185V22.6363H225.594V17.0643H207.185V6.08838H227.432V0.516371H200.148V40.2169H228.044ZM314.699 31.0904H298.631L295.521 40.2169H288.436L302.978 0.516371H310.832L325.314 40.2169H317.821L314.711 31.0904H314.699ZM312.813 25.5184L306.749 7.73356H306.641L300.576 25.5184H312.813ZM611 40.2169V0.516371H610.988H604.311L604.468 29.181H604.371L586.419 0.516371H579.742V40.2169H586.419L586.262 11.6484H586.371L604.371 40.2169H611Z" fill="white"/>
          </svg>
          '
      }
    } %}
  {% endif %}
</a>