.main-menu {
  $this: &;

  position: fixed;
  top: rem(170);
  left: 0;
  width: 100%;
  height: 100%;
  padding: rem(100) rem(343) rem(220);
  background-color: var(--pallette-white);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: all var(--transition);

  @include media('1600', max) {
    padding: rem(100) rem(40) rem(220);
  }

  @include media('600', max) {
    top: rem(60);
    padding: 0 rem(20) rem(80);
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: rem(20) rem(40);

    @include media('1400', max) {
      flex-direction: column;
    }
  }

  &__wrap {
    @include flex-column;
  }

  &__menu {
    @include flex-column;
    @include font-size(24, 33);
    row-gap: rem(100);
    letter-spacing: 0.05em;
    direction: rtl;
    height: rem(1400);
    padding-left: rem(45);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: rem(5);
      height: rem(5);
      background-color: var(--pallette-cod-gray-with-alpha);
    }

    @include media('1400', max) {
      margin-bottom: rem(40);
    }

    @include media('600', max) {
      @include font-size(10, 14);
      row-gap: rem(36);
      height: rem(408);
      padding-left: rem(15);
      margin-bottom: rem(20);
    }

    &-item {
      direction: ltr;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(27);

          @include media('600', max) {
            margin-bottom: rem(16);
          }
        }
      }
    }

    &-link {
      @include flex-center-y;
      cursor: pointer;
      text-align: left;
      width: fit-content;

      &--bold {
        font-weight: 700;
      }

      &--uppercase {
        text-transform: uppercase;
      }

      &:hover {
        color: var(--pallette-atlantis);
      }

      &--color {
        color: var(--pallette-atlantis);

        &:hover {
          color: var(--pallette-cod-gray);
        }
      }
    }
  }

  &__accordion {
    &-item {
      &.active {
        #{$this}__accordion {
          &-btn {
            margin-bottom: rem(27);

            @include media('600', max) {
              margin-bottom: rem(16);
            }
          }

          &-list {
            visibility: visible;
          }

          &-icon {
            &--plus {
              display: none;
            }

            &--minus {
              display: block;
            }
          }
        }
      }
    }

    &-list {
      padding-left: rem(27);
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: max-height var(--transition);

      > * {
        &:not(:last-child) {
          margin-bottom: rem(27);

          @include media('600', max) {
            margin-bottom: rem(16);
          }
        }
      }
    }

    &-icon {
      width: rem(10);
      height: rem(10);
      margin-left: rem(5);
      stroke: currentColor;

      &--minus {
        display: none;
      }

      @include media('600', max) {
        width: rem(5);
        height: rem(5);
      }
    }
  }

  &__btns {
    display: flex;
    gap: rem(20);
    margin-top: auto;

    @include media('600', max) {
      gap: rem(10);
    }
  }

  &__btn {
    min-width: rem(316);
    padding: rem(16) rem(10);

    @include media('600', max) {
      min-width: unset;
      width: 50%;
    }
  }

  &__link {
    @include font-size(27, 37);
    letter-spacing: 0.05em;
    display: inline-flex;
    margin-bottom: rem(18);

    @include media('600', max) {
      @include font-size(10, 14);
      margin-bottom: rem(10);
    }
  }

  &__slider {
    width: rem(1878);

    @include media('1200', max) {
      width: 100%;
    }
  }
}
