*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

:focus-visible {
  outline: rem(2) dotted var(--pallette-atlantis);
  outline-offset: rem(2);
}

html {
  height: 100%;
  scrollbar-color: var(--pallette-cod-gray) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  @include flex-column;
  height: 100%;
  font-family: var(--font-primary);
}

.header {
  flex-shrink: 0;
}

.main {
  position: relative;
  flex: 1 0 auto;
  padding-top: rem(170);

  @include media('600', max) {
    padding-top: rem(60);
  }

  &--start {
    .container {
      @include flex-column;
      gap: rem(20);
      padding: rem(69) rem(343) rem(72);

      @include media('1400', max) {
        padding: rem(70) rem(20);
      }

      @include media('600', max) {
        gap: rem(10);
      }
    }

    .last-update {
      font-size: rem(30);

      @include media('600', max) {
        font-size: rem(15);
      }
    }

    .title {
      font-size: rem(80);

      @include media('600', max) {
        font-size: rem(35);
      }
    }

    .page-list {
      @include flex-column;
      gap: rem(18);

      &__link {
        font-size: rem(25);

        @include media('600', max) {
          font-size: rem(14);
        }

        &:hover {
          color: var(--pallette-atlantis);
        }
      }
    }
  }
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.offset-x > *:not(:last-child) {
  margin-right: var(--offset-x, 1rem);
}

.offset-y > *:not(:last-child) {
  margin-bottom: var(--offset-y, 1rem);
}

::-webkit-scrollbar {
  width: rem(18);
  height: rem(18);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pallette-cod-gray);
}

address {
  font-style: normal;
}

small {
  font-size: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: rem(3840);
  margin: 0 auto;
}

.scroll-lock {
  overflow: hidden !important;
  padding-right: var(--scrollbar-size, 17px);
}
