<nav class="mobile-nav mobile-nav--active" aria-label="Мобильная">
  <ul class="mobile-nav__list">
    {% for item in mobile_nav.items %}
      <li class="mobile-nav__item">
        {% view "@button" with {
          button: item
        } %}
      </li>
    {% endfor %}
  </ul>
</nav>