.lookbook {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: rem(100) rem(50) rem(20);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  background-color: var(--pallette-white);
  transition: all var(--transition);

  &--active {
    opacity: 1;
    visibility: visible;
  }

  @include media('600', max) {
    padding: rem(20);
  }

  &__container {
    max-width: rem(3120);
  }

  &__header {
    margin-bottom: rem(140);

    @include media('600', max) {
      position: absolute;
      right: rem(20);
      margin-bottom: 0;
    }
  }

  &__close {
    @include font-size(24, 33);
    @include flex-center-y;
    gap: rem(20);
    letter-spacing: 0.15em;
    text-transform: uppercase;

    @include media('600', max) {
      margin-left: auto;
    }

    &-icon {
      width: rem(30);
      height: rem(30);
      stroke: currentColor;

      @include media('600', max) {
        width: rem(20);
        height: rem(20);
      }
    }

    &-text {
      @include media('600', max) {
        display: none;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 58% calc(42% - #{rem(25)});
    gap: rem(25);

    @include media('1400', max) {
      grid-template-columns: 40% calc(60% - #{rem(25)});
    }

    @include media('900', max) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: grid;
    grid-template-areas:
      'first-el slider'
      'second-el slider';
    row-gap: rem(50);
    justify-content: space-between;

    @include media('1600', max) {
      gap: rem(50) rem(100);
    }

    @include media('1400', max) {
      grid-template-areas:
        'first-el'
        'second-el'
        'slider';
    }

    @include media('600', max) {
      gap: rem(20);
      grid-template-areas:
        'first-el'
        'slider'
        'second-el';
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(650);

    @include media('1400', max) {
      max-width: 100%;
    }

    &--1 {
      grid-area: first-el;
      margin-top: auto;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(16);
        }
      }
    }

    &--2 {
      grid-area: second-el;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(50);

          @include media('600', max) {
            margin-bottom: rem(30);
          }
        }
      }
    }
  }

  &__cards {
    @include flex-column;
    gap: rem(40);
    max-height: rem(1555);
    padding-right: rem(20);
    overflow-y: auto;
    scrollbar-color: var(--pallette-cod-gray) var(--pallette-cod-gray-with-alpha);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: rem(5);
      height: rem(5);
      background-color: var(--pallette-cod-gray-with-alpha);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--pallette-cod-gray);
    }

    @include media('600', max) {
      gap: rem(20);
      max-height: rem(780);
      padding-right: rem(10);
    }
  }

  &__text {
    @include font-size(24, 33);
    letter-spacing: 0.5em;
    text-transform: uppercase;

    @include media('600', max) {
      display: none;
    }
  }

  &__title {
    @include font-size(60, 82);
    letter-spacing: 0.49em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;

    @include media('600', max) {
      @include font-size(14, 19);
      letter-spacing: 0.3em;
    }

    &-text {
      margin-right: -0.49em;
    }
  }

  &__controls {
    @include flex-center-y;
    gap: rem(40);

    @include media('600', max) {
      gap: rem(20);
    }
  }

  &__control {
    color: var(--pallette-cod-gray);

    &.swiper-button-disabled {
      opacity: 0.35;
    }

    &-icon {
      width: rem(45);
      height: rem(45);
      stroke: currentColor;

      @include media('600', max) {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &__pagination-wrap {
    @include font-size(24, 33);
    display: flex;

    @include media('600', max) {
      @include font-size(10, 14);
      margin-top: rem(-5);
    }
  }

  &__pagination {
    margin-left: rem(10);

    @include media('600', max) {
      margin-left: rem(5);
    }
  }

  &__btns {
    @include flex-column;
    gap: rem(24);
    width: 100%;

    @include media('600', max) {
      flex-direction: row;
      gap: rem(10);
    }
  }

  &__btn {
    min-width: unset;
    padding: rem(20) rem(10);

    @include media('600', max) {
      width: 50%;
    }
  }

  &__block {
    grid-area: slider;
  }

  &__slider {
    width: 100%;
    height: 100%;
    grid-area: slider;
    max-width: rem(934);

    &-img {
      height: 100%;
      object-fit: cover;
    }

    @include media('1400', max) {
      max-width: 100%;
    }
  }
}
