.search {
  $this: &;

  position: absolute;
  left: 0;
  z-index: 1;
  top: 100%;
  width: 100%;
  background-color: var(--pallette-white);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition);

  &--main {
    @include media('900', max) {
      display: none;
    }
  }

  &--menu {
    position: static;
    margin-bottom: rem(42);
    opacity: unset;
    visibility: visible;

    @include media('901', min) {
      display: none;
    }

    @include media('600', max) {
      width: calc(100% + #{rem(40)});
      margin-left: rem(-20);

      #{$this}__input {
        border-top: 0;
      }
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__form {
    position: relative;
    display: unset;
    gap: 0;
  }

  &__input {
    width: 100%;
    padding: rem(35) rem(400) rem(35) rem(340);
    border-top: rem(1) solid var(--pallette-cod-gray);
    border-bottom: rem(1) solid var(--pallette-cod-gray);

    &:focus-visible {
      border-top-color: var(--pallette-atlantis);
      border-bottom-color: var(--pallette-atlantis);
    }

    @include media('1600', max) {
      padding: rem(35) rem(80) rem(35) rem(40);
    }

    @include media('900', max) {
      padding: rem(40) rem(65) rem(40) rem(20);
    }

    @include media('600', max) {
      padding: rem(15) rem(45) rem(15) rem(20);
    }
  }

  &__close {
    @include flex-center;
    position: absolute;
    right: rem(339);
    top: 50%;
    transform: translateY(-50%);

    @include media('1600', max) {
      right: rem(40);
    }

    @include media('900', max) {
      display: none;
    }
  }

  &__icon {
    width: rem(30);
    height: rem(30);
    stroke: currentColor;
  }

  &__btn {
    position: absolute;
    right: rem(20);
    top: 50%;
    transform: translateY(-50%);
    display: flex;

    &-icon {
      width: rem(30);
      height: rem(30);
      stroke: currentColor;

      @include media('600', max) {
        width: rem(20);
        height: rem(20);
      }
    }
  }
}
