.search {
  position: absolute;
  left: 0;
  top: 100%;
  padding: rem(91) rem(340) rem(46);
  width: 100%;
  background-color: var(--pallette-white);
  border-top: rem(1) solid var(--pallette-cod-gray);
  border-bottom: rem(1) solid var(--pallette-cod-gray);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition);

  @include media('1400', max) {
    padding: rem(40);
  }

  @include media('900', max) {
    display: none;
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__form {
    position: relative;
    display: unset;
  }

  &__input {
    width: 100%;
    padding-right: rem(50);
  }

  &__clear {
    position: absolute;
    right: 0;
  }

  &__icon {
    width: rem(30);
    height: rem(30);
    stroke: currentColor;
  }
}
