.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  color: currentColor;
  transition: color var(--transition), background-color var(--transition);

  &__text {
    position: relative;
    z-index: 1;
  }

  &--animate {
    @include font-size(24, 33);
    position: relative;
    overflow: hidden;
    min-width: rem(757);
    padding: rem(40) rem(10);
    transition: color var(--transition-3);

    @include media('600', max) {
      @include font-size(10, 14);
      padding: rem(13) rem(10);
      min-width: unset;
    }

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;
      transform: translate3d(-130%, 0, 0) skew(-25deg);
      animation: out var(--transition-3) cubic-bezier(0.4, 0, 0, 1);
      content: '';
    }

    &:hover {
      &::before {
        transform: none;
        animation: in var(--transition-3) cubic-bezier(0.4, 0, 0, 1);
      }
    }
  }

  &--primary {
    background-color: var(--pallette-white);

    &::before {
      background-color: var(--pallette-cod-gray);
    }

    &:hover {
      color: var(--pallette-white);
    }
  }

  &--secondary {
    background-color: var(--pallette-white);

    &::before {
      background-color: var(--pallette-atlantis);
    }
  }

  &--tertiary {
    color: var(--pallette-white);
    background-color: var(--pallette-cod-gray);

    &::before {
      background-color: var(--pallette-atlantis);
    }

    &:hover {
      color: var(--pallette-cod-gray);
    }
  }

  &--quaternary {
    border: rem(1) solid var(--pallette-cod-gray);

    &::before {
      background-color: var(--pallette-cod-gray);
    }

    &:hover {
      color: var(--pallette-white);
    }
  }
}

@keyframes in {
  from {
    transform: translate3d(-110%, 0, 0) skew(-25deg);
  }

  to {
    transform: translateZ(0) skew(0);
  }
}

@keyframes out {
  from {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(110%, 0, 0) skew(25deg);
  }
}
