<section class="fashion-look">
  {% view "@title" with {
    title: fashion_look.title
  } %}
  <div class="container">
    <div class="fashion-look__inner">
      {% view "^media_card" with {
        media_card: fashion_look.card
      } %}

      <div class="fashion-look__slider">
        {% view "^media_slider" %}
      </div>
    </div>
  </div>
</section>