<section class="collections {{ collections.class }}">
  {% view "@title" with {
    title: collections.title
  } %}

  <div class="container">
    {% if collections.type == 'slider' %}
      {% view "^collections_slider" %}
    {% elseif collections.type == 'grid' %}
      <div class="collections__grid">
        {% for item in collections.data.items %}
          {% view "^collection_card" with {
            collection_card: item
          } %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>