<section class="callback {{ callback.class }}">
  {% view "@title" with {
    title: callback.title
  } %}

  {% view "@logo" with {
    logo: callback.logo
  } %}

  {% view "^form" with {
    form: callback.form
  } %}

  <div class="callback__btns">
    {% for item in callback.btns.items %}
      {% view "@button" with {
        button: item.button
      } %}
    {% endfor %}
  </div>
</section>