.callback {
  @include flex-column;
  gap: rem(38);

  @include media('600', max) {
    gap: rem(35);
  }

  &__btns {
    display: flex;
    gap: rem(20);

    > * {
      width: 50%;
    }

    @include media('600', max) {
      display: none;
    }
  }

  &__btn {
    min-width: unset;
    padding: rem(23) rem(10);
    color: var(--pallette-cod-gray);
  }
}
