.callback {
  @include flex-column;
  gap: rem(38);

  &__btns {
    display: flex;
    gap: rem(20);

    > * {
      width: 50%;
    }
  }

  &__btn {
    padding: rem(23) rem(10);
    color: var(--pallette-cod-gray);
  }
}