.price {
  @include flex-center-y;
  @include font-size(24, 33);
  letter-spacing: 0.05em;
  flex-wrap: wrap;
  gap: rem(15);

  @include media('600', max) {
    @include font-size(9, 12);
    gap: rem(6);
  }

  &__discount {
    @include flex-center-y;
    gap: rem(21);
    padding: rem(3) rem(12);
    background-color: var(--pallette-atlantis);

    @include media('600', max) {
      gap: rem(6);
      padding: rem(0.5) rem(4);
    }
  }
}
