<div class="promo">
  <div class="container">
    <div class="promo__inner">
      {% view "@image" with {
        image: promo.image
      } %}

      <div class="promo__content">
        <p class="promo__text">
          {{ promo.content.text }}
        </p>

        {% view "@title" with {
          title: promo.content.title|merge({
            class: "promo__title"
          })
        } %}
      </div>
    </div>
  </div>
</div>