<div class="media-card">
  <a
    class="media-card__link"
    href="#"
    {{ media_card.link.attrs }}
  >
    {% view "@image" with {
      image: media_card.image|merge({
        picture: {
          class: "media-card__media"
        }
      })
    } %}
  </a>

  <div class="media-card__content">
    {% if media_card.content.title %}
      {% view "@title" with {
        title: media_card.content.title|merge({
          class: "media-card__title"
        })
      } %}
    {% endif %}

    <div class="btn btn--animate btn--primary media-card__btn" aria-hidden="true">
      <span class="btn__text">
        {{ media_card.fake_btn.text }}
      </span>
    </div>
  </div>
</div>