<article class="basket-card">
  {% view "@image" with {
    image: basket_card.image|merge({
      picture: {
        class: "basket-card__picture"
      }
    })
  } %}

  <div class="basket-card__content">
    <div class="basket-card__inner">
      {% view "@title" with {
        title: basket_card.content.title|merge({
          class: "basket-card__title"
        })
      } %}

      <p class="basket-card__text">
        {{ basket_card.content.article }}
      </p>
    </div>

    <div class="basket-card__inner">
      <p class="basket-card__text">
        {{ basket_card.content.price }}
      </p>
      <p class="basket-card__text">
        {{ basket_card.content.size }}
      </p>
      <p class="basket-card__text">
        {{ basket_card.content.num }}
      </p>
    </div>
  </div>
</article>