<button
  class="btn burger"
  aria-expanded="false"
  aria-controls="menu"
  aria-label="Переключить меню"
>
  {% view "@icon" with {
    icon: {
      class: "burger__icon burger__icon--menu",
      name: "sprite-mono.svg#burger-menu"
    }
  } %}

  <span class="burger__text burger__text--menu">
    Меню
  </span>

  {% view "@icon" with {
    icon: {
      class: "burger__icon burger__icon--close",
      name: "sprite-mono.svg#close"
    }
  } %}

  <span class="burger__text burger__text--close">
    Закрыть
  </span>

  {% view "@icon" with {
    icon: {
      class: "burger__icon burger__icon--menu-and-loupe",
      name: "sprite-mono.svg#burger-menu-and-loupe"
    }
  } %}
</button>