<div
  {% if dialog.id %}id="{{ dialog.id }}"{% endif %}
  class="dialog {{ dialog.class }}"
>
  <button class="btn dialog__close" data-fancybox-close>
    <svg class="icon btn__icon dialog__close-icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.47217L31 31.4722"/><path d="M1 31L31 0.999998"/></svg>
  </button>
  {% if dialog.type == '^dialog_help' %}
    {% view "^dialog_help" %}
  {% elseif dialog.type == '^dialog_help_2' %}
    {% view "^dialog_help_2" %}
  {% endif %}
</div>