.top-btn {
  @include flex-center-column;
  @include font-size(16, 22);
  letter-spacing: 0.05em;
  position: fixed;
  z-index: 1;
  min-width: rem(86);
  min-height: rem(86);
  padding: rem(5);
  bottom: rem(45);
  right: rem(30);
  background-color: var(--pallette-white);
  border: rem(1) solid var(--pallette-cod-gray);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition);

  @include media('600', max) {
    @include font-size(6, 8);
    min-width: rem(36);
    min-height: rem(36);
    padding: rem(2.5);
    bottom: rem(80);
    gap: rem(3);
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--pallette-white);
      background-color: var(--pallette-mine-shaft);
      border-color: transparent;
    }

    &:active {
      background-color: var(--pallette-cod-gray);
    }
  }

  &__icon {
    width: rem(45);
    height: rem(45);
    stroke: currentColor;

    @include media('600', max) {
      width: rem(16);
      height: rem(16);
    }
  }
}
