<form action="/" method="get" class="form {{ form.class }}">
  {% if form.type == 'callback' %}
    {% view "@input" with {
      input: form.input_email
    } %}

    {% for item in form.input_checkboxes.items %}
      {% view "@input" with {
        input: item
      } %}
    {% endfor %}
  {% endif %}
</form>