.form {
  $this: &;

  @include flex-column;
  gap: rem(15);

  @include media('600', max) {
    gap: rem(8);
  }

  &--popup {
    gap: rem(50);

    @include media('600', max) {
      gap: rem(30);
    }

    #{$this}__input-block {
      grid-template-columns: 1fr;
    }

    @supports selector(:has(*)) {
      &:has(.form__checkbox-wrap) {
        gap: 0;

        #{$this}__checkbox-wrap {
          margin-top: rem(36);
          margin-bottom: rem(60);

          @include media('600', max) {
            margin-top: rem(21);
            margin-bottom: rem(32);
          }
        }
      }
    }
  }

  &__checkbox-wrap {
    @include flex-column;
    gap: rem(14);
  }
}
