.marquee {
  @include font-size(24, 33);
  padding: rem(20) 0;
  color: var(--pallette-white);
  text-transform: uppercase;
  background-color: var(--pallette-cod-gray);
  white-space: nowrap;
  overflow: hidden;

  @include media('600', max) {
    @include font-size(10, 14);
    padding: rem(4) 0;
  }

  &__text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
  }

  a {
    color: currentColor;
    text-decoration: underline;
    text-underline-offset: rem(8);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
