<div class="marquee" role="marquee">
  <p class="marquee__text">
    Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября
  </p>
</div>