<div class="marquee" role="marquee">
  <div class="marquee__text">
    <p>Бесплатная доставка до 15 ноября</p>
    <p>Бесплатная доставка до 15 ноября</p>
    <a href="#">Бесплатная доставка до 15 ноября</a>
    <p>Бесплатная доставка до 15 ноября</p>
    <p>Бесплатная доставка до 15 ноября</p>
    <a href="#">Бесплатная доставка до 15 ноября</a>
  </div>
</div>