<div class="marquee" role="marquee">
  <p class="marquee__text">
    <a href="#">Бесплатная доставка до 15 ноября</a>   Бесплатная доставка до 15 ноября   <a href="#">Бесплатная доставка до 15 ноября</a>   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября   Бесплатная доставка до 15 ноября
  </p>
</div>