<div class="swiper collections-slider slider-with-square-btns">
  <div class="swiper-wrapper">
    {% for item in collections_slider.items %}
      <div class="swiper-slide">
        {% view "^collection_card" with {
          collection_card: item
        } %}
      </div>
    {% endfor %}
  </div>
  {% view "@button" with {
    button: {
      class: "swiper-button-prev slider-with-square-btns__btn slider-with-square-btns__btn--prev",
      icon: {
        class: "slider-with-square-btns__btn-icon",
        name: "sprite-multi.svg#arrow-prev"
      },
      attrs: 'aria-label="Назад"'
    }
  } %}
  {% view "@button" with {
    button: {
      class: "swiper-button-next slider-with-square-btns__btn slider-with-square-btns__btn--next",
      icon: {
        class: "slider-with-square-btns__btn-icon",
        name: "sprite-multi.svg#arrow-next"
      },
      attrs: 'aria-label="Вперед"'
    }
  } %}
</div>