input {
  &:focus-visible {
    outline: none;
  }
}

// дефолтный инпут
.input-block {
  $this: &;

  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16) 0;

  @include media('600', max) {
    gap: rem(5) 0;
  }

  &--with-btn {
    grid-template-columns: 1fr rem(94);

    @include media('600', max) {
      grid-template-columns: 1fr rem(48);
    }

    #{$this}__label {
      grid-column: 1 / 3;
    }
  }

  &__label {
    @include font-size(24, 35);
    color: inherit;

    @include media('600', max) {
      @include font-size(10, 15);
      letter-spacing: 0.05em;
    }
  }

  &__input {
    @include font-size(24, 35);
    padding: rem(30) rem(15) rem(30) rem(35);
    letter-spacing: 0.05em;
    border-radius: 0;
    border: rem(1) solid var(--pallette-cod-gray);

    &:focus-visible {
      border-color: var(--pallette-white);
      outline: rem(4) solid var(--pallette-atlantis);
      z-index: 1;
    }

    @include media('600', max) {
      @include font-size(10, 15);
      letter-spacing: 0.15em;
      padding: rem(15) rem(10);
    }

    &::placeholder {
      @include font-size(24, 35);
      letter-spacing: 0.05em;
      font-style: italic;
      opacity: 0.3;

      @include media('600', max) {
        @include font-size(10, 15);
        letter-spacing: 0.15em;
      }
    }
  }

  &__btn {
    @include font-size(24, 33);
    color: var(--pallette-cod-gray);
    font-weight: 700;
    letter-spacing: 0.05em;
    background-color: var(--pallette-white);
    border: rem(1) solid var(--pallette-cod-gray);
    border-left: unset;

    &:active {
      background-color: var(--pallette-mine-shaft);
      color: var(--pallette-white);
    }

    @include media('600', max) {
      @include font-size(14, 19);
    }
  }
}

// чекбокс
.input-check {
  $this: &;

  display: flex;
  gap: rem(15);

  @include media('600', max) {
    gap: rem(6);
  }

  &--secondary {
    #{$this}__input {
      border: rem(1) solid var(--pallette-cod-gray);

      &:checked {
        &::before {
          background: var(--pallette-cod-gray);
          border: rem(1) solid var(--pallette-white);
        }
      }
    }
  }

  &__input {
    appearance: none;
    padding: 0;
    margin: 0;
    width: rem(30);
    height: rem(30);
    flex-shrink: 0;
    border: rem(1) solid var(--pallette-white);
    border-radius: 0;

    &:focus-visible {
      outline: rem(1) solid var(--pallette-atlantis);
    }

    &:checked {
      &::before {
        display: block;
        width: 100%;
        height: 100%;
        background: var(--pallette-white);
        border: rem(3) solid var(--pallette-cod-gray);
        content: '';

        @include media('600', max) {
          border: rem(2) solid var(--pallette-cod-gray);
        }
      }
    }

    @include media('600', max) {
      width: rem(16);
      height: rem(16);
    }
  }

  &__label {
    @include font-size(24, 35);
    color: inherit;

    @include media('600', max) {
      @include font-size(10, 15);
      letter-spacing: 0.05em;
    }
  }
}

// инпут в форме поиска
.input-search {
  @include font-size(24, 33);
  letter-spacing: 0.05em;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;

  &::placeholder {
    @include font-size(24, 33);
    letter-spacing: 0.05em;
    font-style: italic;
    color: var(--pallette-cod-gray-with-alpha-2);

    @include media('600', max) {
      @include font-size(10, 14);
    }
  }

  @include media('600', max) {
    @include font-size(10, 14);
  }
}

// радио-инпут
.radio-btn {
  $this: &;

  &__input {
    @media (hover: hover) {
      &:hover {
        &:not(:disabled) {
          + #{$this}__label {
            color: var(--pallette-white);
            background-color: var(--pallette-cod-gray);
          }
        }

        &:checked {
          + #{$this}__label {
            background-color: var(--pallette-atlantis);
            border: rem(1) solid transparent;
            color: var(--pallette-cod-gray);
            cursor: default;
          }
        }
      }
    }

    &:focus-visible {
      + #{$this}__label {
        color: var(--pallette-white);
        background-color: var(--pallette-cod-gray);
      }
    }

    &:disabled {
      + #{$this}__label {
        color: var(--pallette-cod-gray-with-alpha-2);
        border: rem(1) solid var(--pallette-cod-gray-with-alpha-2);
        cursor: not-allowed;
      }
    }

    &:checked {
      + #{$this}__label {
        background-color: var(--pallette-atlantis);
        border: rem(1) solid transparent;
      }
    }
  }

  &__label {
    @include font-size(24, 33);
    @include flex-center;
    width: rem(115);
    height: rem(115);
    padding: rem(10);
    border: rem(1) solid var(--pallette-cod-gray);
    cursor: pointer;
    transition: color var(--transition), background-color var(--transition);

    @include media('1200', max) {
      width: rem(100);
      height: rem(100);
    }

    @include media('600', max) {
      @include font-size(10, 14);
      width: rem(30);
      height: rem(30);
      padding: rem(5);
    }

    @include media('360', max) {
      font-size: rem(8);
      width: rem(22);
      height: rem(22);
    }
  }
}
