:root {
  --base: 16;

  // pallette
  --pallette-atlantis: #b2d235;
  --pallette-cod-gray: #1e1e1e;
  --pallette-white: #fff;
  --pallette-cod-gray-with-alpha: rgba(30, 30, 30, 0.1);
  --pallette-cod-gray-with-alpha-2: rgba(30, 30, 30, 0.3);
  --pallette-mine-shaft: #3f3f3f;
  --pallette-silver-chalice: #a9a9a9;

  // transitions
  --transition: 0.3s;
  --transition-2: 0.2s;
  --transition-3: 0.8s;

  // fonts
  --font-primary: 'OpenSans', sans-serif;

  font-size: 50%;

  @include media('600', max) {
    font-size: unset;
  }
}
