.card-text {
  $this: &;

  position: relative;
  overflow: hidden;
  color: var(--pallette-white);

  &:hover {
    #{$this}__media {
      &-img {
        transform: scale(1.1);
      }
    }
  }

  &--secondary {
    #{$this}__title {
      max-width: rem(660);
      font-weight: 400;
    }

    #{$this}__content {
      padding: rem(133) rem(80);

      @include media('900', max) {
        padding: rem(30);
      }
    }

    #{$this}__text {
      display: none;
    }
  }

  &--tertiary {
    #{$this}__title {
      @include font-size(32, 44);
      max-width: rem(580);

      @include media('600', max) {
        @include font-size(14, 19);
      }
    }

    #{$this}__content {
      padding: rem(80);

      @include media('900', max) {
        padding: rem(30);
      }
    }
  }

  &__media {
    &-img {
      transition: transform var(--transition-3);
    }
  }

  &__content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: rem(112) rem(71);

    @include media('900', max) {
      padding: rem(42) rem(20);
    }
  }

  &__title {
    @include font-size(48, 65);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include media('600', max) {
      @include font-size(14, 19);
    }
  }

  &__text {
    @include font-size(10, 12);
    margin-top: rem(8);

    @include media('601', min) {
      display: none;
    }
  }
}
