<section class="action">
  <div class="container">
    <div class="action__inner">
      {% view "@image" with {
        image: action.image
      } %}

      <div class="action__content">
        {% view "@title" with {
          title: action.content.title|merge({
            class: "action__title"
          })
        } %}

        <p class="action__text">
          {{ action.content.text }}
        </p>

        <div class="btn btn--primary btn--animate action__btn">
          <span class="btn__text">
            {{ action.content.fake_btn.text }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>