.action {
  $this: &;

  &--secondary {
    #{$this}__content {
      margin: 0 auto;
    }
  }

  &--tertiary {
    #{$this}__content {
      align-items: flex-start;
      text-align: left;

      @include media('600', max) {
        text-align: center;
        align-items: center;
      }
    }
  }

  &__inner {
    position: relative;
    display: grid;
    color: var(--pallette-cod-gray);

    &:hover {
      #{$this}__btn {
        color: var(--pallette-white);

        &::before {
          transform: none;
          animation: in var(--transition-3) cubic-bezier(0.4, 0, 0, 1);
        }
      }
    }
  }

  &__content {
    @include flex-center-column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: rem(79);
    max-width: rem(1313);
    margin-left: rem(380);
    padding: rem(50) 0;
    text-align: center;

    @include media('1400', max) {
      padding: rem(25) rem(35) rem(25) rem(25);
    }

    @include media('600', max) {
      gap: rem(26);
      margin: 0 auto;
    }
  }

  &__title {
    @include font-size(48, 65);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include media('600', max) {
      @include font-size(20, 27);
      letter-spacing: 0.15em;
      margin-top: auto;
    }
  }

  &__text {
    @include font-size(24, 48);

    @include media('600', max) {
      @include font-size(10, 17);
      letter-spacing: 0.05em;
    }
  }

  &__btn {
    pointer-events: none;

    @include media('600', max) {
      width: 100%;
      margin-top: auto;
    }
  }

  &__media {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
