.main-footer {
  $this: &;

  padding: rem(156) rem(343) rem(194);
  color: var(--pallette-white);
  background-color: var(--pallette-cod-gray);

  @include media('1600', max) {
    padding: rem(70) rem(20);
  }

  @include media('600', max) {
    padding: rem(27) rem(20) rem(40);
  }

  &__inner {
    display: grid;
    grid-template-areas:
      'list-1 list-2 callback'
      'copyright copyright copyright';
    gap: rem(105) rem(284);
    grid-template-columns: repeat(2, auto) 1fr;

    @include media('1200', max) {
      gap: rem(105);
    }

    @include media('900', max) {
      grid-template-areas:
        'callback callback'
        'list-1 list-2'
        'copyright copyright';
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('600', max) {
      grid-template-areas:
        'callback'
        'accordion'
        'copyright';
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__list {
    @include font-size(24, 33);
    @include flex-column;
    gap: rem(37);
    letter-spacing: 0.05em;

    &:first-of-type {
      grid-area: list-1;
    }

    &:last-of-type {
      grid-area: list-2;
    }

    @include media('600', max) {
      @include font-size(11, 15);
      gap: rem(11);
      display: none;
    }
  }

  &__item {
    &--bottom {
      margin-top: auto;
    }
  }

  &__btn {
    color: var(--pallette-silver-chalice);

    @media (hover: hover) {
      &:hover {
        color: var(--pallette-white);
      }
    }
  }

  &__callback {
    margin-left: auto;
    width: rem(935);
    grid-area: callback;

    @include media('900', max) {
      width: 100%;
    }

    @include media('600', max) {
      margin-bottom: rem(17);
    }
  }

  &__logo {
    &-img {
      width: rem(612);
      height: rem(44);
      flex-shrink: 0;

      @include media('600', max) {
        width: rem(133);
        height: rem(10);
      }
    }
  }

  &__copyright {
    @include font-size(12, 17);
    letter-spacing: 0.16em;
    text-transform: uppercase;
    font-weight: 300;
    grid-area: copyright;

    @include media('600', max) {
      @include font-size(7, 10);
    }
  }

  &__accordion {
    margin-bottom: rem(28);
    width: calc(100% + #{rem(40)});
    margin-left: rem(-20);
    grid-area: accordion;

    @include media('601', min) {
      display: none;
    }

    @include media('600', max) {
      margin-bottom: rem(52);
    }

    &-item {
      &.active {
        #{$this}__accordion {
          &-list {
            padding: rem(20) rem(40);
            visibility: visible;
          }

          &-icon {
            &--plus {
              display: none;
            }

            &--minus {
              display: block;
            }
          }
        }
      }
    }

    &-btn {
      @include font-size(11, 16);
      @include flex-center-y;
      letter-spacing: 0.05em;
      padding: rem(21) rem(18) rem(10);
      border-bottom: rem(1) solid var(--pallette-white);
      color: inherit;
    }

    &-list {
      @include flex-column;
      gap: rem(10);
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      padding: 0 rem(40);
      transition: max-height var(--transition);
    }

    &-link {
      @include font-size(11, 16);
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &-icon {
      width: rem(8);
      height: rem(8);
      margin-left: auto;
      stroke: currentColor;

      &--minus {
        display: none;
      }
    }
  }
}
