.price-card {
  position: relative;

  &__content {
    @include font-size(24, 33);
    letter-spacing: 0.05em;
    position: absolute;
    bottom: rem(82);
    left: rem(96);
    right: rem(40);

    @include media('600', max) {
      @include font-size(8, 11);
      bottom: rem(7);
      left: rem(10);
      right: rem(10);
    }
  }
}
