.price-card {
  position: relative;

  &__content {
    @include font-size(24, 33);
    letter-spacing: 0.05em;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: rem(77) rem(96);

    @include media('600', max) {
      @include font-size(8, 11);
      padding: rem(8) rem(10);
    }
  }

  &__text {
    font-size: inherit;
    font-weight: 400;
  }
}
