<div class="price-card">
  {% view "@image" with {
    image: price_card.image
  } %}

  <div class="price-card__content">
    {# <p class="price-card__text">
      {{ price_card.content.text }}
    </p> #}

    {% view "@title" with {
      title: price_card.content.title|merge({
        class: "price-card__text"
      })
    } %}

    <div class="price-card__price">
      {% view "@price" with {
        price: price_card.content.price
      } %}
    </div>
  </div>
</div>