.lookbook-card {
  $this: &;

  position: relative;
  display: flex;
  gap: rem(20);

  &__picture {
    flex-shrink: 0;
  }

  &__img {
    width: rem(298);
    height: rem(440);
    object-fit: contain;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    margin-bottom: rem(40);
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    @include font-size(24, 33);
    letter-spacing: 0.05em;
    font-weight: 400;
    transition: color var(--transition);
  }

  &__form {
    gap: rem(50);
  }

  &__legend {
    @include font-size(24, 33);
    letter-spacing: 0.05em;
    margin-bottom: rem(20);
  }

  &__radios {
    position: relative;
    display: flex;
    gap: rem(20) rem(48);
  }

  &__btns {
    display: flex;
    gap: rem(20);

    > * {
      width: 50%;
    }
  }

  &__btn {
    padding: rem(15) rem(10);
    min-width: unset;
  }
}
